# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
.jbeval/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
build/
.docusaurus/

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
*.log
